<div class="container p-5">
    <button class="btn btn-lg btn-primary" routerLink="/login">Volver</button>
    <br>
    <br>
    <button class="btn btn-lg btn-primary" style="display:flex;" routerLink="/menuRegistroEmpleado">Agregar Nuevo Producto</button>    
    <br>
    <h1>Lista de Productos</h1>   
    <br>  
    <table class="table">
        <thead>
          <tr style="color: blue;">
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Unidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.Nombre}}</td>
            <td>{{producto.Establecimiento}}</td>
            <td>{{producto.Costo}}</td>
            <td><button class="btn btn-lg btn-primary" (click)="modificar();">Modificar</button></td>
            <td><button class="btn btn-lg btn-primary" (click)="eliminar();">Eliminar</button></td>
          </tr>
        </tbody>
    </table>
</div>