<div class="container p-5">
    <button class="btn btn-lg btn-primary" routerLink="/pagprincipal">Volver</button>
    <br>       
    <br>
    <h1>Lista de Mascotas</h1>   
    <br>  
    <table class="table">
        <thead>
          <tr style="color: blue;">
            <!--<th scope="col">CIdueño</th>-->
            <th scope="col">Nombre</th>
            <th scope="col">Raza</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mascota of mascotas">
            <!--<td>{{mascota.CIdueño}}</td>-->
            <td>{{mascota.Nombre}}</td>
            <td>{{mascota.Raza}}</td>
            <td>{{mascota.Tipo}}</td>
            <td><button class="btn btn-lg btn-primary" (click)="eliminarMascota(mascota.id);">Eliminar</button></td>
          </tr>
        </tbody>
    </table>
</div>