<div class="container p-5">
    <button class="btn btn-lg btn-primary" routerLink="/pagprincipal">Volver</button>
    <br>       
    <br>
    <h1>Lista de Vacunas</h1>   
    <br>  
    <table class="table">
        <thead>
          <tr style="color: blue;">
            <!--<th scope="col">CIdueño</th>-->
            <th scope="col">Mascota</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacuna of vacunas">
            <!--<td>{{vacuna.CIdueño}}</td>-->
            <td>{{vacuna.Mascota}}</td>
            <td>{{vacuna.Fecha}}</td>
            <td>{{vacuna.Tipo}}</td>
            <td><button class="btn btn-lg btn-primary" (click)="eliminarVacuna(vacuna.id);">Eliminar</button></td>
          </tr>
        </tbody>
    </table>
</div>